<div class="button"  (click)="onButtonPressed.emit(FileActions.COPY)">
  Copy
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.CUT)">
  Cut
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.PASTE)">
  Paste
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.DELETE)">
  Delete
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.NEW_FOLDER)">
  New folder
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.NEW_FILE)">
  New file
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.UPLOAD_FILE)">
  Upload file
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.READ_FILE)">
  Read file
</div>
<div class="button"  (click)="onButtonPressed.emit(FileActions.DOWNLOAD_FILE)">
  Download file
</div>