.file-reader-bg {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.file-reader {
	background: white;
	padding: 20px;
	position: absolute;
	width: 70%;
	left: 15%;
	top: 15%;
	height: 70%;
}

textarea {
	width: 100%;
	margin-bottom: 10px;
	height: calc(100% - 50px);
}

.buttons {
	float: right;
}

.button:first-child {
	margin-right: 20px;
}

.button {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid rgb(210, 210, 255);
}